:root {
    --clr-primary: #651fff;
    --clr-gray: #37474f;
    --clr-gray-light: #b0bec5;
  }
  
  * {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 2rem;
    color: var(--clr-gray);
  }
  
  .wrapper-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .container {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    width: 280px;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  
 
  .card-img {
    width: 8rem;
    clip-path: circle(60px at center);
    margin-top: 4.5rem;
  }
  
  .name {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .description {
    margin: 1rem 2rem;
    font-size: 0.9rem;
  }
  
  .btn {
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    background-color: var(--clr-primary);
  }

  .bi-star-fill{
    color: rgb(255, 187, 0);
}

  .grey{
    color: rgb(37, 37, 36);
  }

.form-register {
  width: 420px;
  /* background: #24303c;*/
  padding: 12px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 60px;
  border-radius: 20px;
  font-family: 'calibri';
  color: black;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: black;
}

select{
  font-size: 20 px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 15px;
  border: 1px solid #1f53c5;
}

.botons {
  width: 100%;
  background: #3428dd;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}

/* label{
  font-size: 16px;
  padding: 5px;
  color: rgb(95, 95, 95);
  margin-bottom: 16px;
} */

.btn:hover{
  background-color: #050349;
  color: rgb(255, 255, 255);
}

img:hover {filter: opacity(.5);}